</div>

<script src = "https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가 -->
<script src = "/js/app/index.js?ver = 1"></script>
<script src = "/js/app/orderFile.js?ver = 2"></script>
<script src = "/js/app/sendFile.js?ver = 3"></script>
<script src = "/js/app/addInputForm.js?ver = 4"></script>
<script src = "/js/app/addAmount.js?ver = 5"></script>


<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>

</body>
</html>