</div>

<!-- copyright --->
<div class="card bg-dark text-white">
    <img src="/images/copyright.png" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h3 class="card-title">HoneyIs_Assistant</h3>
        <p class="card-text">개발자: cafeCoder</p>
        <a a href="mailto:hwk0911@gmail.com">Email: hwk0911@gmail.com</a>
        <p class="card-text">기획자: kdoh3731</p>
        <a a href="mailto:laid_3@naver.com">Email: laid_3@naver.com</a>
    </div>
</div>


<script src = "https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가 -->
<script src="/js/app/income.js?ver=1"></script>
<script src="/js/app/expenditure.js?ver=2"></script>
<script src="/js/app/client.js?ver=3"></script>
<script src="/js/app/stock.js?ver=4"></script>
<script src="/js/app/xlsx.js?ver=5"></script>
<script src="/js/app/undefinedStock.js?ver=6"></script>

<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>

</body>
</html>