<!DOCTYPE HTML>
<html>
<head>
    <title>Honey_Is Assistant</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        .order{
            display: inline-block;
            outline: 2px dashed #92b0b3 ;
            outline-offset:-10px;
            text-align: center;
            padding: 100px 0px;
            transition: all .15s ease-in-out;
            width: 40%;
            height: 100%;
            background-color: gray;
        }
        .send{
            display: inline-block;
            outline: 2px dashed #92b0b3 ;
            outline-offset:-10px;
            text-align: center;
            padding: 100px 0px;
            transition: all .15s ease-in-out;
            width: 40%;
            height: 100%;
            background-color: gray;
            margin-left : 10px;
        }

        html, body {
            width: 100%;
            height: 100%;
        }
        .mainFrame {
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 100px 0px;
            transition: all .15s ease-in-out;
            background-color: rgb(230,205,167);
            overflow: auto;
        }
    </style>

</head>

{{>layout/Navbar}}

<body>
<div class="mainFrame">