<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">HoneyIs_Assistant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            {{#user}}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    "{{user}}"님 환영합니다. <input type="text" id="email" value="{{user}}" style="display:none">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/client">발주처 목록</a>
                    <a class="dropdown-item" href="/income">매출 현황</a>
                    <a class="dropdown-item" href="/expenditure">지출 현황</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/stock/list">재고 현황</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
                <li class="nav-item active">
                    <a class="nav-link" href="/stock">신상 등록<span
                            class="sr-only">(current)</span></a>
                </li>
            {{/user}}
            {{^user}}
                <li class="nav-item active">
                    <a class="nav-link" href="/oauth2/authorization/google">Google Login<span
                            class="sr-only">(current)</span></a>
                </li>
            {{/user}}
            </li>
        </ul>
        {{#user}}
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit" id="btn-clientSearch">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/search.png"/>
                </button>
            </form>
        {{/user}}
    </div>
</nav>