<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">HoneyIs_Assistant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{#user}} "{{user}}"님 환영합니다. <input type="text" id="email" value="{{user}}" style="display:none">{{/user}}
                    {{^user}} "Login here!!" {{/user}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{#user}}
                        <a class="dropdown-item" href="/income">income</a>

                        <a class="dropdown-item" href="/logout">Logout</a>
                    {{/user}}
                    {{^user}}
                        <a class="dropdown-item" href="/oauth2/authorization/google" role="button">Google Login</a>
                    {{/user}}
                </div>
            </li>
        </ul>
    </div>
</nav>