{{>layout/header}}

<div class="container">
    <!-- 수정 될 신규 폼 생성 -->
    <div id="updateForm"></div>

    <!-- 조회 된 결과 출력 -->
    <table class="table table-hover table-dark">
        <tr>
            <th>{{start}} ~ {{end}} 기간의 지출 리스트</th>
        </tr>
    </table>

    <table class="table table-hover table-dark" id="expenditureTable">
        <thead>
        <tr>
            <th width="5%">ID</th>
            <th width="25%">DATE</th>
            <th width="25%">PRICE</th>
            <th width="*">LOCATION</th>
            <th width="*">HISTORY</th>
        </tr>
        </thead>
        <tbody>
        {{#expenditureList}}
                <tr typeof="button">
                    <td>{{id}}</td>
                    <td>{{date}}</td>
                    <td>{{price}}</td>
                    <td>{{location}}</td>
                    <td>{{history}}</td>
                </tr>
        {{/expenditureList}}
        </tbody>
    </table>
</div>
</br>

{{>layout/footer}}