{{>layout/header}}

<div class="container">
    <!-- 신규 지출 입력 폼 -->
    <table class="table table-hover table-dark">
        <caption>신규 지출 데이터 입력</caption>
        <thead>
        <tr>
            <th width="10%">DATE</th>
            <th width="15%">PRICE</th>
            <th width="30%">LOCATION</th>
            <th width="35%">HISTORY</th>
            <th width="10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input class="form-control mr-sm-2" type="date" id="date" value="{{today}}"></td>
            <td><input class="form-control mr-sm-2" type="number" id="price"></td>
            <td><input class="form-control mr-sm-2" type="text" id="location"></td>
            <td><input class="form-control mr-sm-2" type="text" id="history"></td>
            <td>
                <button type="submit" id="btn-expenditureSave" class="btn btn-primary">SAVE</button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 조회 기간 설정 -->
    <table class="table table-hover table-dark">
        <caption>조회 기간 설정</caption>
        <tr>
            <th>Start date</th>
            <th> ~</th>
            <th>End date</th>
            <th width="10%"></th>
        </tr>
        <tr>
            <form method="post" action="/expenditure/list">
                <td><input type="date" name="startDate" class="form-control mr-sm-2"></td>
                <td> ~</td>
                <td><input type="date" name="endDate" class="form-control mr-sm-2" value="{{today}}"></td>

                <td>
                    <input type="text" name="email" value="{{loginUser}}" class="form-control" style="display:none" readonly>
                    <button type="submit" class="btn btn-primary">RUN</button>
                </td>
            </form>
        </tr>
    </table>
    </br>

{{>layout/footer}}