{{>layout/header}}

<div class="container">
    <!-- 신규 매출 입력 폼 -->
    <table class="table table-hover table-dark">
        <caption>신규 매출 입력</caption>
        <thead>
        <tr>
            <th width="15%">DATE</th>
            <th width="15%">PRICE</th>
            <th width="*">MEMO</th>
            <th width="10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input class="form-control mr-sm-2" type="date" id="date" value="{{today}}"></td>
            <td><input class="form-control mr-sm-2" type="number" id="price"></td>
            <td><input class="form-control mr-sm-2" type="text" id="memo"></td>
            <td>
                <button type="submit" id="btn-incomeSave" class="btn btn-primary">SAVE</button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 조회 기간 설정 -->
    <table class="table table-hover table-dark">
        <caption>매출 정보 조회</caption>
        <tr>
            <th>Start date</th>
            <th> ~</th>
            <th>End date</th>
            <th width="10%"></th>
        </tr>
        <tr>
            <form method="post" action="/income/list">
                <td><input type="date" name="startDate" class="form-control mr-sm-2"></td>
                <td> ~</td>
                <td><input type="date" name="endDate" class="form-control mr-sm-2" value="{{today}}"></td>

                <td>
                    <input type="text" name="email" value="{{loginUser}}" class="form-control mr-sm-2" style="display:none" readonly>
                    <button type="submit" class="btn btn-primary">RUN</button>
                </td>
            </form>
        </tr>
    </table>
    </br>

{{>layout/footer}}