{{>layout/header}}

<div class="container">

    <h5>매출 데이터를 클릭하여 수정을 진행하실수 있습니다.</h5>

    <!-- 수정 될 신규 폼 생성 -->
    <div id="updateForm"></div>

    <!-- 조회 된 결과 출력 -->
    <table class="table table-hover table-dark" id="incomeTable">
        <caption>{{start}} ~ {{end}} 기간의 매출 리스트, TOTAL: {{total}}</caption>
        <thead>
        <tr>
            <th width="5%">ID</th>
            <th width="25%">DATE</th>
            <th width="25%">PRICE</th>
            <th width="*">MEMO</th>
        </tr>
        </thead>
        <tbody>
        {{#incomeList}}
                <tr typeof="button">
                    <td>{{id}}</td>
                    <td>{{date}}</td>
                    <td>{{price}}</td>
                    <td>{{memo}}</td>
                </tr>
        {{/incomeList}}
        </tbody>
    </table>
</div>

{{>layout/footer}}