{{>layout/header}}

<div class="container">
    <!-- 신규 재고 입력 동적 생성 폼 -->

    <div id="stockUpdate"></div>

    <!-- 클라이언트 검색 폼 -->

    <form class="form-inline md-form mr-auto mb-4" style="float:right;" method="get" action="/stock/client/search">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchword">
        <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit" id="btn-clientSearch">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/search.png"/>
        </button>
    </form>

    </br>

    <!-- 사용자에 저장 된 상품 목록 -->

    {{#productMap}}
        <table class="table table-hover table-dark" id="stockListTable">
            <thead>
            <tr>
                <th width="*">CLIENT</th>
                <th width="45%">PRODUCT NAME</th>
                <th width="15%">COLOR</th>
                <th width="15%">SIZE</th>
                <th width="10%">AMOUNT</th>
            </tr>
            </thead>
            <tbody>

            {{#value}}
                <tr>
                    <td>{{key}}</td>
                    <td>{{productName}}</td>
                    <td>{{color}}</td>
                    <td>{{size}}</td>
                    <td>{{amount}}</td>
                    <td style="display:none">{{id}}</td>
                </tr>
            {{/value}}
            </tbody>
        </table>
    {{/productMap}}

    <!-- 재고 없음 -->
    {{^productMap}}
        </br>
        <h1>등록된 상품이 없습니다.</h1>
    {{/productMap}}
</div>
{{>layout/footer}}