{{>layout/header}}


<div class="area-order" id="area-order">
    <h3>발주 목록 확인</h3>
    <h3>Drag & Drop!!</h3>
</div>

<!--
<div class="area-send" id="area-send">
    <h3>송장용 엑셀 확인</h3>
    <h3>Drag & Drop!!</h3>
</div>
-->
{{>layout/footer}}