{{>layout/header}}

<div class="container">
    <!-- 분석 결과 출력 -->
    {{#orderAnalyze}}
        <table class="table table-hover table-dark" id="orderTable">
            <thead>
            <tr>
                <th width="*">{{key}}</th>
                <th width="15%">COLOR</th>
                <th width="15%">SIZE</th>
                <th width="10%">AMOUNT</th>
            </tr>
            </thead>
            <tbody>
            {{#value}}
                <tr>
                    <td>{{productName}}</td>
                    <td>{{color}}</td>
                    <td>{{size}}</td>
                    <td>{{amount}}</td>
                    <td style="display:none">{{id}}</td>
                </tr>
            {{/value}}
            </tbody>
        </table>
    {{/orderAnalyze}}
    {{^orderAnalyze}}
        <table class="table table-hover table-dark">
            <caption>발주 목록이 없습니다.</caption>
            <thead>
            <tr>
                <th width="*">PRODUCT NAME</th>
                <th width="15%">COLOR</th>
                <th width="15%">SIZE</th>
                <th width="10%">AMOUNT</th>
            </tr>
            </thead>
        </table>
    {{/orderAnalyze}}
</div>
{{>layout/footer}}